<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer" connectionString="Server=192.168.10.4;User Id=faculty;Password=faculty;Database=PankajDb" />
  <add name="PankajDbConnectionString" connectionString="Data Source=192.168.10.4;Initial Catalog=PankajDb;Persist Security Info=True;User ID=faculty;Password=faculty"
    providerName="System.Data.SqlClient" />
</connectionStrings>
    <system.web>
      <roleManager enabled="true" />
      <authentication mode="Forms" />
      <compilation debug="true" targetFramework="4.6" />
      <httpRuntime targetFramework="4.6" />
   
    </system.web>

</configuration>
