<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <system.serviceModel>
    <services>
      <service name="WCFService.WCFServiceImplement" behaviorConfiguration="ServiceBehavior">        
        <endpoint binding="basicHttpBinding" contract="WCFService.IWCFService"
                  bindingConfiguration="BasicHttpBinding">         
        </endpoint>        
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="TcpBehavior">
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name ="TCPBinding" maxConnections="10000">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" bypassProxyOnLocal="true">
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>     
    </bindings>
  </system.serviceModel>
</configuration>
