<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    
    <bindings>
      <netTcpBinding>
        <binding name="TCPBinding">
          <security mode="None">            
          </security>
        </binding>      
      </netTcpBinding>
    </bindings>

    <client>
      <endpoint address="net.tcp://10.34.34.241:8999/WCFService" binding="netTcpBinding"
                bindingConfiguration="TCPBinding" contract="WCFService.IWCFService" 
                name="TCPEndPoint">        
      </endpoint>
    </client>
  </system.serviceModel>  
</configuration>