<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HTTPBaseAddress" value="http://10.34.34.241:8888/WCFService"/>
    <add key="TCPBaseAddress" value="net.tcp://10.34.34.241:8999/WCFService"/>
    <add key="MsmqEmpDetails" value=".\private$\EmployeeDetails"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Jayant\Employee.mdb" name="AccessConnection" providerName="Microsoft.Jet.OLEDB.4.0"/>
  </connectionStrings>
  
  <system.serviceModel>    
    <services>
      <service name="WCFService.WCFServiceImplement" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" 
                  behaviorConfiguration="TcpBehavior" binding="netTcpBinding"
                  bindingConfiguration="TCPBinding" name="" contract="WCFService.IWCFService">          
        </endpoint>
        <endpoint binding="basicHttpBinding" contract="WCFService.IWCFService" 
                  bindingConfiguration="BasicHttpBinding">          
        </endpoint>
        <endpoint address="http://10.34.34.241:9999/WCFService" binding="wsHttpBinding"
                  contract="WCFService.IWCFService"
                  bindingConfiguration="WsHttpBinding"></endpoint>
        <!--endpoint address="msmq.formatname:DIRECT=OS:.\private$\EmployeeDetails"
                  binding="msmqIntegrationBinding" bindingConfiguration="MsmqBinding"
                  contract="WCFService.IWCFMessageQueue"></endpoint-->
      </service>      
      <service name="WCFService.MyMessageQueue">
        <endpoint address="msmq.formatname:DIRECT=OS:.\private$\EmployeeDetails"
                  binding="msmqIntegrationBinding" bindingConfiguration="MsmqBinding"
                  contract="WCFService.IWCFMessageQueue"></endpoint>
      </service>
    </services>
    

    <behaviors>
      <endpointBehaviors>
        <behavior name="TcpBehavior">          
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" 
                           httpGetUrl="http://10.34.34.241:8578/WCFService"/>
          
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name ="TCPBinding" maxConnections="10000">
          <security mode="None">                       
          </security>          
        </binding>
      </netTcpBinding>
      
      <basicHttpBinding>
        <binding name="BasicHttpBinding" bypassProxyOnLocal="true">
          <security mode="None">            
          </security>
        </binding>
      </basicHttpBinding>
      
      <wsHttpBinding>
        <binding name="WsHttpBinding" bypassProxyOnLocal="true">
          <security mode="None">            
          </security>
        </binding>
      </wsHttpBinding>

      <msmqIntegrationBinding>
        <binding name="MsmqBinding">
          <security mode="None">            
          </security>
        </binding>
      </msmqIntegrationBinding>
    </bindings>    
  </system.serviceModel>
</configuration>